@charset "utf-8";
/* CSS Document */

body {
	/*background-color: #8d181c;*/
	background-image: url("../images/bg7.jpg");
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-y;
}

.section1 {
	text-align: center;
	padding: 0;
	/*margin-top: 7%;*/

}

.section2 {
	margin-top: 15%;
}

.section2 .col-sm-3 {

	padding: 0;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 40px;
	background-color: #ddd;
	/*border: 2px solid #444;*/
	/*background: linear-gradient(132deg, #666, #968A8B);
	background-size: 400% 400%;*/
	color: #000;
    /*animation: BackgroundGradient 30s ease infinite;*/
}

.linkTitle {
	font-family: Open Sans, Arial;
	font-weight: 300;
  letter-spacing: 3px;
	font-size: 1.3em;
}
.section2 .roundLink {
	font-family: Open Sans, Arial;
	float: left;
	position: relative;
  height: 297px;
	width: 297px;
	text-align: center;
	/*border-radius: 50%;*/
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
	background-color: #ddd;
	/*margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 40px;*/
	/*background: linear-gradient(30deg, #ddd, #ddd);*/
	/*border: 2px solid #444;*/
	/*background: linear-gradient(132deg, #666, #968A8B);
	background-size: 400% 400%;*/
	color: #244451;
	opacity: 0.7;
    /*animation: BackgroundGradient 30s ease infinite;*/
}

.section2 .roundLink:hover {
	background-color: #244451;
	color: #ddd;
}


/*@keyframes BackgroundGradient {
	0%{background-position: 0% 50%;}
	50%{background-position: 100% 50%;}
	100%{background-position: 0% 50%;}

}*/

.fly-in-text {
	list-style: none;
	position: relative;
	left: 50%;
	top: 40%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li{
	display: inline-block;
	color: #fff;
	margin-right: 20px;
	font-family: Open Sans, Arial;
	font-size: 2.3em;
	font-weight: 300;
	opacity: 1;
	-moz-transition: all 2.5s ease;
	-webkit-transition: all 2.5s ease;
	-ms-transition: all 2.5s ease;
	-o-transition: all 2.5s ease;
	transition: all 2.5s ease;
}

#firstname {
	/*margin-top: 0%;*/
}
#surname {
	/*margin-top: 0;*/
}

.fly-in-text.hidden1 li{
	opacity: 0;
}

.fly-in-text li:last-child {
	margin-right: 0;
}

.fly-in-text.hidden1 li{
	-moz-transform: translateX(-70px) translateY(-70px);
	-webkit-transform: translateX(-70px) translateY(-70px);
	-ms-transform: translateX(-70px) translateY(-70px);
	-o-transform: translateX(-70px) translateY(-70px);
	transform: translateX(-70px) translateY(-70px);
}

.fly-in-text.hidden1 li:nth-child(2){
	-moz-transform: translateX(20px) translateY(100px);
	-webkit-transform: translateX(20px) translateY(100px);
	-ms-transform: translateX(20px) translateY(100px);
	-o-transform: translateX(20px) translateY(100px);
	transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden1 li:nth-child(3){
	-moz-transform: translateX(-150px) translateY(80px);
	-webkit-transform: translateX(-150px) translateY(80px);
	-ms-transform: translateX(-150px) translateY(80px);
	-o-transform: translateX(-150px) translateY(80px);
	transform: translateX(-150px) translateY(80px);
}

.fly-in-text.hidden1 li:nth-child(4){
	-moz-transform: translateX(10px) translateY(-200px);
	-webkit-transform: translateX(10px) translateY(-200px);
	-ms-transform: translateX(10px) translateY(-200px);
	-o-transform: translateX(10px) translateY(-200px);
	transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden1 li:nth-child(5){
	-moz-transform: translateX(-300px) translateY(200px);
	-webkit-transform: translateX(-300px) translateY(200px);
	-ms-transform: translateX(-300px) translateY(200px);
	-o-transform: translateX(-300px) translateY(200px);
	transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden1 li:nth-child(6){
	-moz-transform: translateX(20px) translateY(-80px);
	-webkit-transform: translateX(20px) translateY(-80px);
	-ms-transform: translateX(20px) translateY(-80px);
	-o-transform: translateX(20px) translateY(-80px);
	transform: translateX(20px) translateY(-80px);
}
.fly-in-text.hidden1 li:nth-child(7){
	-moz-transform: translateX(30px) translateY(200px);
	-webkit-transform: translateX(30px) translateY(200px);
	-ms-transform: translateX(30px) translateY(200px);
	-o-transform: translateX(30px) translateY(200px);
	transform: translateX(30px) translateY(200px);
}
.fly-in-text.hidden1 li:nth-child(8){
	-moz-transform: translateX(40px) translateY(-100px);
	-webkit-transform: translateX(40px) translateY(-100px);
	-ms-transform: translateX(40px) translateY(-100px);
	-o-transform: translateX(40px) translateY(-100px);
	transform: translateX(40px) translateY(-100px);
}

.fly-in-text.hidden1 li:nth-child(9){
	-moz-transform: translateX(-59px) translateY(-190px);
	-webkit-transform: translateX(-59px) translateY(-190px);
	-ms-transform: translateX(-59px) translateY(-190px);
	-o-transform: translateX(-59px) translateY(-190px);
	transform: translateX(-59px) translateY(-190px);
}

.fly-in-text.hidden1 li:nth-child(10){
	-moz-transform: translateX(-90px) translateY(-50px);
	-webkit-transform:  translateX(-90px) translateY(-50px);
	-ms-transform:  translateX(-90px) translateY(-50px);
	-o-transform:  translateX(-90px) translateY(-50px);
	transform:  translateX(-90px) translateY(-50px);
}

.fly-in-text.hidden1 li:nth-child(11){
	-moz-transform: translateX(45px) translateY(-80px);
	-webkit-transform:translateX(45px) translateY(-80px);
	-ms-transform: translateX(45px) translateY(-80px);
	-o-transform: translateX(45px) translateY(-80px);
	transform: translateX(45px) translateY(-80px);
}

.fly-in-text.hidden1 li:nth-child(12){
	-moz-transform: translateX(-78px) translateY(10px);
	-webkit-transform: translateX(-78px) translateY(10px);
	-ms-transform: translateX(-78px) translateY(10px);
	-o-transform: translateX(-78px) translateY(10px);
	transform: translateX(-78px) translateY(10px);
}

.fly-in-text.hidden1 li:nth-child(13){
	-moz-transform: translateX(36px) translateY(49px);
	-webkit-transform: translateX(36px) translateY(49px);
	-ms-transform: translateX(36px) translateY(49px);
	-o-transform: translateX(36px) translateY(49px);
	transform: translateX(36px) translateY(49px);
}


/* --------------------- details ----------------------------*/


.fly-in-text2 {
	background-color: #ddd;
	color: #8d181c;
	list-style: none;
	position: relative;
	left: 50%;
	top: 40%;
	width: 50%;
	-moz-padding-start: 20px;
	-webkit-padding-start: 20px;
	-ms-padding-start: 20px;
	-o-padding-start: 20px;
	padding-start: 20px;

	-moz-transform: translateX(-47%) translateY(-50%);
	-webkit-transform: translateX(-47%) translateY(-50%);
	-ms-transform: translateX(-47%) translateY(-50%);
	-o-transform: translateX(-47%) translateY(-50%);
	transform: translateX(-47%) translateY(-50%);
}

.fly-in-text2{
	-moz-transition: all 3.5s ease;
	-webkit-transition: all 3.5s ease;
	-ms-transition: all 3.5s ease;
	-o-transition: all 3.5s ease;
	transition: all 3.5s ease;
}

#details {

}

.fly-in-text2 li{
	display: inline-block;
	margin-right: 20px;
	font-family: Open Sans, Arial;
	font-size: 2.3em;
	font-weight: 300;
	opacity: 1;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.fly-in-text2.hidden1, .fly-in-text2.hidden1 li{
	opacity: 0;
}

.fly-in-text2.hidden1, .fly-in-text2.hidden1 li{
	-moz-transform:  translateX(-47%)   translateY(-600px);
	-webkit-transform:  translateX(-47%)   translateY(-600px);
	-ms-transform:  translateX(-47%)   translateY(-600px);
	-o-transform:  translateX(-47%)   translateY(-600px);
	transform:  translateX(-47%)   translateY(-600px);
}

.fly-in-text2 li:last-child {
	margin-right: 20px;
}


/* --------------------- goTo Buttons ----------------------------*/

.fly-in-text3{
	-moz-transition: all 2s ease;
	-webkit-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}


.fly-in-text3.hidden1{
	opacity: 0;
}

.fly-in-text3.hidden1{
	left: 0;
}

.pageDown {
	color: #8d181c;
	width: 50px;
	height: 50px;
	background-color: #ddd;
	border-radius: 50%;
	position: relative;
	top: 15%;
	left: 50%;
	text-align: center;
	padding: 10px;
	opacity: 0.5;
	z-index: 10;
}

.pageDown:hover {
	opacity: 0.9;
}

.pageUp {
	color: #8d181c;
	width: 50px;
	height: 50px;
	background-color: #ddd;
	border-radius: 50%;
	position: fixed;
	top: 85%;
	left: 90%;
	text-align: center;
	padding: 10px;
	opacity: 0.3;
	z-index: 10;
}

.pageUp:hover {
	opacity: 0.9;
}

.glyphicon {
	font-size: 30px;
}
/*----------------------------------------------------*/


@media (max-width: 600px) {
	#firstname {
		left: 45%;
	}
	#surname {
		left: 45%;
		top: 40%;
		margin-right: 0;
	}

	.fly-in-text {
		position: relative;
		/*left: 42%;
		top: 40%;*/
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

    .fly-in-text li{
		margin-right: 0;
		font-size: 2em;
	}


	#details {
		left: 0;
		width: 90%;
	}

	.fly-in-text2 li{
		margin-right: 0;
		font-size: 2em;
		/*transform: translateX(5%);*/
	}
	.fly-in-text2{
		transform: translateX(7%)  translateY(-50%);
	}

	.fly-in-text2.hidden1{
		transform: translateX(7%)  translateY(-600px);
	}



	.pageDown {
		left: 47%;
	}

	.pageUp {
		top: 85%;
		left: 85%;
	}
}
